body {
  background-image: url(/images/background.avif);
  width: 98vw;
  height: 100%;
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:hover {
  
  transform: scale(1.07);
}
h1 {
  display: grid;
  font-style:inherit  ;
text-decoration: underline;
font-size: 3em;
  padding-bottom: 15%;
  padding-top: 15%;
  text-align: center;
}

h2 {
  font-style:oblique ;
  font-size: 1.5em;
  padding-top: 15%;
  text-align: center;
}

 .link-sect {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 13%;
  font-weight: 500;
  font-size: 1.0em;
  font-style: inherit;
  
}
.links {
  display: inline block;
  border-radius: 30px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  max-width:min-content ;
  min-width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 3%;
  border: 5px solid rgb(166, 64, 1)

 }
 
.link-img {
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 180px;
  width: 180px;
}
 
a:hover {
  transform: scale(1.07);
}


.script-txt {
  display: column;
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
}
