.picture {
  text-align: center;
 
  width: 80%;
 height: 500px;
} 
p, h1, li, h2, ul {
  text-align: center;
  list-style-position: inside;
  
}

body {

  margin: 10%;
  margin-top: 2%;
  background-color: rgb(57, 138, 89);
}
ul {
  list-style-position: inside;
}
.beach {
  text-align: center;
}
