h1, h2 {
  text-align: center;
}
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-line: underline;
  font-size: 35px;
  padding-bottom: 70px;
  padding-top: 50px;
}
h2 {
  margin-top: 5px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.domImg {
  height: 175px;
  width: 350px;
  float: right;

}
.sshot {
  height: 175px;
  width: 350px;
  float: right;

}
.container {

  overflow: auto;
  position: relative;
  /* height: fit-content; */
  width: 50%;
  left: 25%;
  border-radius: 2%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 1%;
  display: inline-block;
  
  background-color: rgba(184, 134, 11, .25);
  
 

  
}

.dscrpt {
  font-weight: 520;
  font-size: 20px;
  padding-top: 1%;
  padding-left: 1%;
}


body {
  margin-bottom: 50px;
}
.bg {
  background-image: url("https://img.freepik.com/free-photo/perspective-exterior-nobody-empty-box_1258-260.jpg?size=626&ext=jpg");
  width: 100vw;
  height: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.home {

  padding-top: 5px;
  padding-left: 20px;
  font-size: 20px;
}
a:hover {
  color: bisque;
}
.capt {
  padding-bottom: 1%;
}
